* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

header ul{
    margin: 0;
    padding: 0;
    align-content: center;
}

header ul li {
    background-color: transparent;
    display: inline-block;
    list-style-type: none;
    margin: 0 13px;
}

header ul li img{
    top: 5px;
    width: 48px;
    height: 48px;
    position: relative;
}

header li a {
    color: rgba(152, 172, 219, 0.822);
    background-color: transparent;
    position: relative;
    bottom: 14px;
    text-decoration: none;
}

header ul li a:hover{
    color: #ffff;
}

.error-message {
    padding: 2px 0px; 
    text-align: center;
    position: relative;
    float: right;
    font-size: 15px;
    font-weight: normal;
    color: #A55064;
    border-radius: 5px;
    background-color: #F4CED6;
    animation: 0.7s alertAnim forwards;
    width: 20%;
    right: 200px;
}

/* Bordered form */
form {
    top: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
}

input, .button {
    color: #262947;
    font-size: 15px;
    height: 28px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-radius: 5px;
    outline: 0;
    background: #CCCFEA;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login {
    float: right;
    position: relative;
    top: 5px;
}

.input-column {
	margin-top: 0;
    margin-right: 95px;
}

.input {
    float: left;
    width: 45%;
    margin: 2px;
    padding: 0 5px;
}

.button {
    float: left;
    width: 95px;
    color: #262947;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

.inner-light {
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 0.8;
        transform: translateY(0);
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    .input{
        text-align: center;
        margin: 5px 0;
        width: 80%;
        display: inline-block;
        float: none;
    }

}
