* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    background-color: #262947;   
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
}

header ul{
    padding: 0;    
    align-content: center;
}

header li {
    background-color: transparent;
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

header ul li img{
    width: 48px;
    height: 48px;
    position: relative;
}

header li a {
    font-weight: bold;
    color: rgba(152, 172, 219, 0.822);  
    background-color: transparent;
    position: relative;
    bottom: 18px;
    text-decoration: none;
}

header a:hover {
    color: #4A8ADF;
}

/* Bordered form */
form {
    background-color: transparent;
    border: 0px solid #f1f1f1;
    display: inline;
    position: relative;
    float: right;
}

.input, .button {
    color: #262947;  
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-radius: 5px;
    outline: 0;
    background: #CCCFEA;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.login {
    float: right;
    position: relative;
    top: 5px;
}

.input-column {
	margin-top: 0;
    margin-right: 95px;
}

.input {
    float: left;
    width: 45%;
    margin: 2px;
    padding: 0 5px;
}

.button {
    float: left;
    width: 95px;
    color: #262947;  
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

.inner-light {
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    .input{
        text-align: center;
        margin: 5px 0;
        width: 80%;
        display: inline-block;
        float: none;
    }

}
