<header>
  <ul>
    <li><img src="../../favicon.ico"></li>
    <li><a routerLink="">ConnectPro</a></li>
    <li><a routerLink="sign-up">Sign Up</a></li>
    <li class="login">
      <form>
        <div class="login-form">
            <div class="input-column">
              <input [(ngModel)]="email" class="input inner-light" type="email" placeholder="Enter Email" name="name" required>
              <input [(ngModel)]="password" class="input inner-light" type="password" placeholder="Enter Password" name="password" required>
            </div>
              <button class="button" type="submit" (click)="onClick()">Login</button>
        </div>
      </form>
    </li>
  </ul>
</header>
<br><br>
<div class= "error-message" *ngIf="dbError">Email or password is incorrect.</div>
