* {
	box-sizing: border-box;
}

.nav-bar {
    width: 100%;
    padding: 0;
    align-content: center;
}

.nav-bar li {
    display: inline-flex;
    list-style-type: none;
    margin: 0 10px;
}

.nav-bar li a {
    position: relative;
    top: 3px;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #4A8ADF;
}

/* Bordered form */
form {
    border: 0px solid #f1f1f1;
    display: inline;
    position: relative;
    float: right;
}

.input, .button {
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-radius: 5px;
    outline: 0;
    background: #f5f5f5;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.login { 
    float: right;

}

.input-column {
    margin-right: 95px;
}

.input {
    float: left;
    width: 45%;
    margin: 2px;
    padding: 0 5px;
}

.button {
    float: left;
    width: 95px;
    color: #5d534d;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

.inner-light {
	box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    .input{
        text-align: center;
        margin: 5px 0;
        width: 80%;
        display: inline-block;
        float: none;
    }

}
