<header>
  <ul>
    <li><img src="../../favicon.ico"></li>
    <li><a routerLink="">ConnectPro</a></li>
    <li><a routerLink="sign-up">Sign Up</a></li>
    <li><div class= "error-message"*ngIf="dbError">ook</div></li>
    <li class="login">
      <form action="action_page.php">
        <div class="login-form">
            <div class="input-column">
              <input id="email" class="input inner-light" type="email" placeholder="Enter Email" name="email" required>
              <input id="pswrd" class="input inner-light" type="password" placeholder="Enter Password" name="psw" required>
            </div>
              <button class="button" type="submit" (click)="onClick()">Login</button>
        </div>
      </form>
    </li>
  </ul>
</header>
