* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    left: 8%;
    width: 80%;
    height: 100%;
    
}

.rest div {
    margin: 10px 20px;
}

.info {
    background-color: rgba(214, 222, 241, 0.7);
    position: fixed;
    border: 1px solid #262947;
    padding: 10px;
    float: left;
    width: 20%;
}

.info p {
    font-weight: bold;
    font-size: 18px;
    align-content: center;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    border: 1px solid #262947;
}

.page {
    display: block;
    position: relative;
    height: 100%;
    float: right;
    right: 30px;
    width: 65%;
}

.feed {
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #262947;
    padding: 10px;
    height: 100%;
    
}

.user-post {
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #262947;
    padding: 10px;
    margin: 10px 20px;
}
