* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
}

.info {
    background-color: transparent;
    border: 2px solid #262947;
    padding: 10px;
    left: -10px;
}

.info p {
    font-weight: bold;
    font-size: 18px;
    align-content: center;
}
