* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #353961;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    left: 8%;
    width: 80%;
    height: 100%;
    
}

.rest div {
    margin: 20px 20px;
}

.info {
    position: fixed;
    padding: 10px;
    float: left;
    width: 20%;
}

.info p {
    font-weight: bold;
    font-size: 18px;
    align-content: center;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    border: 1px solid #353961;
}

.page {
    display: block;
    position: relative;
    height: 100%;
    float: right;
    right: 30px;
    width: 65%;
}

.coloring {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-right-color: #999;
}

.user-post {
    padding: 10px;
    margin: 0 20px;
    position: relative;
}

.user-post p {
    margin: 0 10px;
}

.text {
    height: 50px;
    margin-bottom: 0;
}

.content {
    position: relative;
}

#add-file {
    width: 0.1px;
    height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#add-file + label {
    left: 10%;
    top: 5px;
    position: relative;
    font-size: 15px;
    color: #353961;
    cursor: pointer;
    font-weight: bold;
}


#add-file:focus + label,
#add-file + label:hover {
    color: #555a96;
}


input, .button{
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    display: block;
    position: relative;
    
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button {
    color: rgba(214, 222, 241, 0.7);
    left: 40%;
    width:15%;
    margin-top: 10px;
    background-color: #353961;
}

input {
    width: 80%;
    margin: 10px;
    left: 8%;
    color: #353961;
    background-color: white;
}

.inner-light {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
    padding: 0 5px;
}

/*//////////////////////////////////
            news feed
//////////////////////////////////*/
.feed {
    padding: 10px;
    margin: 0 20px;
    position: relative;
    height: 100%;
}

.posts {
    padding: 0;
}

.posts li {
    width: 100%;
    list-style-type: none;
}

.posts li div {
    width: 100%;
    margin: 5px 0;
    overflow: auto;
}
