* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    left: 8%;
    width: 80%;
    height: 100%;
    
}

.rest div {
    margin: 20px 20px;
}

.info {
    background-color: rgba(214, 222, 241, 0.7);
    position: fixed;
    border: 1px solid #262947;
    padding: 10px;
    float: left;
    width: 20%;
}

.info p {
    font-weight: bold;
    font-size: 18px;
    align-content: center;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    border: 1px solid #262947;
}

.page {
    display: block;
    position: relative;
    height: 100%;
    float: right;
    right: 30px;
    width: 65%;
}

.feed {
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #262947;
    padding: 10px;
    height: 100%;
    
}

.user-post {
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #262947;
    padding: 10px;
    margin: 0px 20px;
}

.user-post p {
    margin: 0 10px;
}

.additional .inner-light {
    overflow: hidden;
    display: inline-block;
    width: 25%;
    font-size: 12px;
}

input, .button{
    color: #262947;
    font-size: 15px;
    height: 30px;
    border: 1px solid #262947;
    border-bottom-color: #999;
    border-radius: 5px;
    background-color: #CCCFEA;
    display: block;
    position: relative;
    
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button {
    left: 40%;
    width:15%;
}

input {
    width: 80%;
    margin: 10px;
    left: 8%;
}

.inner-light {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
    padding: 0 5px;
}


