* {
    box-sizing: border-box;
    width: 100%;
}

.nav-bar {
    padding: 0;
}

.nav-bar li {
    display: inline;
    list-style-type: none;
    margin: 0 10px;
}

.nav-bar li a{
    position: relative;
    top: 4px;
    text-decoration: none;
}

.nav-bar a:hover{
    color: #4A8ADF;
}

#sign {
    color: #4A8ADF;
    font-weight: bold;
}

form {
    margin: 0px auto;
    width: 50%;
    border: 0px solid #f1f1f1;
}

.alert {
    font-size: 15px;
    border: 0 solid black;
    opacity: 0.8;
    font-size: 5px;
    border: 0.1px solid black;
>>>>>>> 96682c42107f41f35b68e09553aae1b52b0d4cbf
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    background-color: hsl(0, 70%, 65%);
}

.alert div{
    font-size: 15px;
}

.input, .button {
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-radius: 5px;
    outline: 0;
    background: #f5f5f5;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.sign-up-form {
    margin: 0 auto;
    text-align: center;
}

.sign-up-form .input-column {
    margin: 0 auto;
}

.input {
    float: center;
    width: 100%;
    margin: 10px;
}

.button {
    width: 20%;
    color: #5d534d;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 10px auto;
}

.inner-light {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 0 5px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    .input{
        text-align: center;
        margin: 5px 0;
        width: 80%;
        display: inline-block;
        float: none;
    }
}
