* {
    box-sizing: border-box;
    background-color: transparent;    
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;  
}

header ul{
    margin: 10px 0;
    padding: 0;
    align-content: center;    
}

header ul li {
    background-color: transparent;    
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

header ul li img{
    width: 48px;
    height: 48px;
    position: relative;
}

header ul li a{
    background-color: transparent;
    color: rgba(152, 172, 219, 0.822);  
    text-decoration: none;
    font-weight: bold;
    position: relative;
    bottom: 18px;
}

header ul a:hover{
    color: #4A8ADF;
}

#sign {
    margin-top: 15%;
    background-color: transparent;    
    color: #262947;
    font-weight: bold;
}

form {
    background-color: transparent;    
    margin: 0px auto;
    width: 50%;
    border: 0px solid #f1f1f1;
}

.alert {
    color: #A55064;
    opacity: 0.8;
    font-size: 15px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    background-color: #F4CED6;
    animation: 1s alertAnim forwards;
}

.alert div{
    font-size: 15px;
    animation: 1s alertAnim forwards;
}

.input.inner-light.ng-touched.ng-invalid {
    border: 1px solid #F4CED6;
}

.input, .button { 
    color: #262947; 
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-radius: 5px;
    outline: 0;
    background-color: #CCCFEA;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.sign-up-form {
    background-color: transparent;    
    margin: 0 auto;
    text-align: center;
}

.sign-up-form .input-column {
    margin: 0 auto;
    background-color: transparent;    
}

.input {
    float: center;
    width: 100%;
    margin: 10px;
}

.button {    
    width: 20%;
    color: #5d534d;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 10px auto;
}

.button:disabled {
    opacity: 0.4;
}

.inner-light {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 0 5px;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 0.8;
        transform: translateY(0);
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    .input{
        text-align: center;
        margin: 5px 0;
        width: 80%;
        display: inline-block;
        float: none;
    }

    #sign {
        margin-top: 30%;
    }
}
