<header>
  <ul>
    <li><img src="../../favicon.ico"></li>
    <li><a routerLink="">ConnectPro</a></li>
    <li><a routerLink="../sign-up">Sign Up</a></li>
  </ul>
</header>
<br>
<!---<form ngNativeValidate>-->
<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
  <div class="sign-up-form">
      <h3 id="sign">Sign Up Now!</h3>
      <div class="input-column">
          <input class="input" type="text" placeholder="First Name" formControlName="firstName">
          <div class="alert" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">
              First Name required
          </div>
          <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
          <div class="alert" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">
            Last Name required
          </div>
          <input class="input" type="email" placeholder="Email" formControlName="emailAddress">
          <div class="alert" *ngIf="!rForm.controls['emailAddress'].valid && rForm.controls['emailAddress'].touched">
              <div *ngIf="rForm.controls['emailAddress'].errors.required">Email required</div>
              <div *ngIf="rForm.controls['emailAddress'].errors.pattern && !rForm.controls['emailAddress'].errors.required">Wrong email format</div>
          </div>
          <input class="input" type="password" placeholder="Password" formControlName="password">
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
              <div *ngIf="rForm.controls['password'].errors.required">Password required</div>
              <div *ngIf="!rForm.controls['password'].errors.minLength && !rForm.controls['password'].errors.required">Needs be at least 8 characters long</div>
          </div>
          <!--<br><span>{{ password }}</span> <br>-->
          <input class="input" type="password" placeholder="Confirm Password" formControlName="confPassword">
          <div class="alert" *ngIf="!rForm.controls['confPassword'].valid && rForm.controls['confPassword'].touched">Password Confirmation Required</div>
          <!--<br><span>{{ confPassword }}</span> <br>-->
    </div>
    <input class="button" type="submit" value="Submit" [disabled]="!rForm.valid">
    <div *ngIf="userConfirmation">
        <h3>Welcome to ConnectPro!</h3>
    </div>
  </div>
</form>
