* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

header ul{
    margin: 0px 0;
    padding: 0;
    align-content: center;
}

header ul li {
    background-color: transparent;
    display: inline-block;
    list-style-type: none;
    margin: 0 13px;
}

header ul li img{
    top: 19px;
    width: 48px;
    height: 48px;
    position: relative;
}

header ul li a{
    background-color: transparent;
    color: rgba(152, 172, 219, 0.822);
    font-weight: normal;
    position: relative;
    bottom: 14px;
    text-decoration: none;
}

header ul li a:hover{
    color: #ffff;
    opacity: 0.8;
    cursor: pointer;
}

.active-link a{
    color: #ffff !important;
    border: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
}
