* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #262947;
}

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    top: 5%;
}