* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #353961;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #353961;
    padding: 10px;
    left: 8%;
    width: 80%;
    height: 100%;
    top: 4%;
}

.profile-pic {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
    border: 1px solid #353961;
}

.info {
    text-align: center;
}

#connect {
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    position: relative;

    color: rgba(214, 222, 241, 0.7);
    width:10%;
    margin-top: 10px;
    background-color: #353961;
}

#connect:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #353961;
}

#connect:disabled {
    background-color: #353961;
    opacity: 0.7;
    cursor: initial;
}
