<header>
    <ul class="navigationBar">
        <li><a routerLink="../home"><img src="../../../favicon.ico"></a></li>
        <li><a routerLink="../home">Home</a></li>
        <li><a routerLink="../network">My Network</a></li>
        <li><a routerLink="../jobs">Jobs</a></li>
        <li><a routerLink="../messaging">Messaging</a></li>
        <li><a routerLink="../notifications">Notifications</a></li>
        <li><a routerLink="../profile">Profile</a></li>
        <li>
            <div id="search">
                <form>
                    <input [(ngModel)]="search" type="text" placeholder="Search.." name="search">
                    <button (click)="onSearchClick()" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </li>
        <li id="logout"><a [routerLink]="['']">Logout</a></li>
    </ul>
</header>

<div class="rest">
    <h3> Search results for: {{searchItem}}</h3>
    <ul id="all-results">
        <li *ngFor="let user of users">
            <div id="result" class= "coloring">
                {{user.firstName}} {{user.lastName}}
            </div>
        </li>
    </ul>
</div>
