* {
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
    background-color: #353961;
}

/*////////////////////////////////////////////////////*/

div {
    margin: 50px 20px;
}

.rest {
    position: absolute;
    background-color: rgba(214, 222, 241, 0.7);
    border: 1px solid #353961;
    padding: 10px;
    left: 8%;
    width: 80%;
    height: 100%;
    top: 3%;    
}

.rest div {
    margin: 20px 20px;
}

#all-results {
    padding: 0;

}

#all-results li {
    width: 100%;
    list-style-type: none;
}

#all-results li div {
    width: 100%;
    margin: 5px 0;
    overflow: auto;
}

.page {
    display: block;
    position: relative;
    height: 100%;
    width: 65%;
}