<header>
    <ul class="navigationBar">
      <li><a routerLink="../home"><img src="../../favicon.ico"></a></li>
      <li><a routerLink="../home">Home</a></li>
      <li><a routerLink="../network">My Network</a></li>
      <li class="active-link"><a routerLink="./">Jobs</a></li>
      <li><a routerLink="../messaging">Messaging</a></li>
      <li><a routerLink="../notifications">Notifications</a></li>
      <li><a routerLink="../profile">Profile</a></li>
      <li id="logout"><a [routerLink]="['']">Logout</a></li>
    </ul>
</header>
<br>
<div class= "rest coloring">

    <p>Here are some jobs that might interest you.</p>
</div>
