/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body{
    background-color: rgba(214, 222, 241, 0.7);
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Quicksand', 'Arial';
    margin: 0 auto;
}

.navigationBar{
    margin: 0;
    padding: 0;
    align-content: center;
}

.navigationBar li {
    background-color: #353961;
    display: inline-block;
    list-style-type: none;
    margin: 0 13px;
}

.navigationBar li img{
    top: 19px;
    width: 48px;
    height: 48px;
    position: relative;
}

.navigationBar li a{
    background-color: transparent;
    color: rgba(214, 222, 241, 0.7);
    font-weight: normal;
    position: relative;
    bottom: 14px;
    text-decoration: none;
}

#logout {
    float: right;
    text-align: center;
    margin-top: 28px;
}

.active-link a{
    color: #ffff !important;
    border: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
}

.navigationBar li a:hover{
    color: #ffff;
    opacity: 0.8;
    cursor: pointer;
}

/*////////////////////////////////////////////////////*/

#search {
    margin: 0;
    position: relative;
}

#search li {
    position: relative;
    bottom: 15px;
}

#search input[type=text] {
    height: 25px;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

#search button {
    height:25px;
    float: right;
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#search button:hover {
    background: rgba(255, 255, 255, 1)
}

#search form {
    display: inline-block;
    position: relative;
    bottom: 15px;
}

#search i {
    position: relative;
    bottom: 2px;
}

/*////////////////////////////////////////////////////*/

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #9198e5;
    border-radius: 5px;
}

.coloring {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-right-color: #999;
}

.name {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    text-align: left;
}

