/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Quicksand', 'Arial';
}

.input.inner-light.ng-touched.ng-invalid {
    border: 1px solid red;
}
